/* Estructura del css
    Selector{
        Propiedad:valor
    }
*/

body{
    background-color: rgb(129, 6, 245); /*Cambia el color del fondo */
}

h1{/*Modifica todo lo que esta dentro de las llaves a todos los "h1" que se utilizan*/
    text-align: center;/*Ubica el texto en el centro de la pagina*/
}